<!doctype html>
<html lang="fr">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>
        {% block title %} Platform {% endblock %}
    </title>

    {% block stylesheets %}
        {% include 'PifaceAppBundle:Block/Asset:css.html.twig' %}
    {% endblock %}

</head>
<body>
{% block body %}
    <div id="wrap">
        <div class="header">
            {% block header %}

                {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                    {% block nav_bar %}
                        {% include 'PifaceAppBundle:Block/Header:navbar.html.twig' %}
                    {% endblock %}
                {% endif %}

            {% endblock %}
        </div>

        <div id="container">
            {% block container %}

            {% endblock %}
        </div>
    </div>

    {% block javascripts %}
        {% include 'PifaceAppBundle:Block/Asset:js.html.twig' %}
    {% endblock %}

{% endblock %}
</body>
</html>
