<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>
        {% block title %} Platform {% endblock %}
    </title>
</head>
<body>
{% block body %}
    <div id="wrap">
        <div id="container">
            {% block container %}

            {% endblock %}
        </div>

    </div>
{% endblock %}
test
</body>
</html>
