/** ELEMENTS DE BASE **/
html, body, form {
    margin: 0;
    padding: 0;
}

textarea {
    resize: none;
}

ul {
    margin: 0!important;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none !important;
}

#wrap {
    background: #F8F8F8;
}

#container {
    width: 960px;
    margin: auto;
}

/** CLASSES DE BASE **/
.block-white {
    background-color: #fff;
}
