/** ELEMENTS DE BASE **/
html, body, form {
    margin: 0;
    padding: 0;
}

textarea {
    resize: none;
}

ul {
    margin: 0 !important;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none !important;
}

#wrap {
    background: #F8F8F8;
    height: auto;
    min-height: 100%;
    position: relative;
}

#container {
    max-width: 1066px;
    min-width: 320px;
    margin: auto;
}

.dashboard-content {
    padding: 20px;
}

/** CLASSES DE BASE **/
.block-white {
    background-color: #fff;
}
